# env_template.txt: Template de archivo `.env` para configuraciones de entorno
# Instrucciones: Renombrar este archivo a `.env` y reemplaza los valores con 'X', con tus keys de Acceso a las APIs.

# Configuraciones OpenAI
OPENAI_API_KEY="XXXXXXXXXXXXXXXXXXXXXXXX"

# Configuraciones para Redis
REDIS_HOST="XXXXXXXXXXXXXXXX"
REDIS_PORT="000"
REDIS_DB=000
REDIS_PASSWORD="XXXXXXXXXXXXXXX"
REDIS_USERNAME="XXXX"
REDIS_INDEX="XXXXXX"

# Configuraciones para Flask
FLASK_SECRET_KEY="XXXXXXXXXXXXXXXX"
