# Lista de dependencias
fpdf
pydantic
python-docx
python-dotenv
numpy
pandas
rich

Flask

openai
redis
requests
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-openai
langsmith
